:root{
    --white:white;
    --off:#dadada;
    --black:black;
    --light : hsl(255deg 30.77% 94.9%);
    --blue:hsl( 252 , 75%, 60%);
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Open Sans;
}

.pcir img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html,body{
    height: 100%;
    width: 100%;

}
body {
    animation: fadeInAnimation ease-in-out .5s;
    animation-iteration-count: 1;
    /* animation-fill-mode: forwards; */
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
#nav{
    width: 100%;
    height: 4vw;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
 position: fixed;
    z-index: 99999;


}
#nav .n2{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.n2 .search{
    border-radius: 100px;
    background-color: var(--light);
    padding: .7vw 1.2vw;

}
.n2 input{
    border: none;
    outline: none;
    font-size: .9rem;
    background-color: var(--light);
    width:30vw;
margin-left: 1vw;
}
.n2 a{
    background-color: var(--blue);
    padding: .7vw 1.8vw;
    text-decoration: none;
    color: white;
    font-family: open sans;
    font-weight: 500;
    border-radius: 100px;
}
.n2 .s3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.n2 .pimg{
   height: 3vw;
   width: 3vw;
   border-radius: 50%;
   background-color: red;
position: relative;
overflow: hidden;
}
.n2 .pimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#main{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: var(--light);
    position: relative;
overflow-y: auto;
/* overflow-x: hidden; */
display: flex;
flex-direction: column;
}
#second_part{
    width: 100%;
    height:  calc(100% - 4vw);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: -1vw;
}
.sec{
    height: 100%;
    width: 20%;
    padding: 20px 0;
   
}
#cent{
    width: 38%;
    margin: auto;
transform: translateY(4vw);

}

#o1{
    
     display: flex;
    flex-direction: column;
    /* background-color: red; */
    font-family: Open sans;
    gap: 20px;
    position: fixed;
    left: 10%;
    top: 4vw;
    /* padding: 2vw; */
   
}
#o3{
    display: none;
}
#o1 a{
    color: var(--black);
}
#o1 .id{
    /* width: 100%; */
    display:flex ;
    align-items:  center;
    justify-content: flex-start;
    background-color: var(--white);
    border-radius: 20px;
    padding: 20px 10px;
width: 100%;
    gap: 10px;
    
}
.id .pimg{
    height: 2.8vw;
    width: 2.8vw;
    border-radius: 50%;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    background-color: black;
}
.id .pimg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.id .sid{
    display: flex;
    flex-direction: column;
align-items: flex-start;
}
.id h1{
    font-size: 1.3vw;
}
.id h2{
    font-size: 1vw;
    opacity: .5;
}

.sec2{
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.sec2 a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    /* font-size: 1vw; */
    font-weight: 100;
    padding:16px 20px; 
    gap: 10px;
}
.sec2 h1{
    font-weight: 500;
    font-size: 1.2vw;

}
.sec2 i{
    opacity: .5;
    font-size: 1.3vw;
}
#o1 .sec3{
   margin-left: auto;
   margin-top: -.5vw;
   margin-right: auto;
    border-radius: 20px;
    width: fit-content;
    background: var(--primary);
    font-size: 1.5vw;
padding: 1vw 6vw;
    box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light), inset -0.2rem -0.2rem 1rem var(--primary-dark), 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
}
#o1 .sec3:hover{
    color: var(--white);
  box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark), inset -0.2rem -0.2rem 1rem var(--primary-light);


}
#o1 .sec3:hover a{
    color: var(--white);
}
.sec3 a{
  color: var(--greyLight-1);

    text-decoration: none;
    transition: .5s ease;

}
#o1 .sec3 h1{
    font-size: 1vw;
    color: var(--white);
}
.stories{
    width: 100%;
padding: 10px;
gap: 10px;
white-space: nowrap;
display: flex;
position: relative;
overflow-x: auto;
}
.stories::-webkit-scrollbar{
    display: none;
}
.story{
    height: 12vw;
    width: 6vw;
    /* background-color: red; */
    border-radius:20px;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}
.story .name{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;

    background: linear-gradient( transparent 20%, rgba(0, 0, 0, 0.464) 80%);
}
.name h1{
font-size: 1vw;
color: var(--white);
}
.story img{
    /* display: none; */
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    /* border-radius: 50%; */
    
}
#posts{

    width: 100%;
    /* overflow-y: auto; */
   
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    padding: 0 0 .5vw 0;
}
#posts::-webkit-scrollbar{
    display: none;
}
.post{

    background-color: var(--white);
    border-radius: 2vw;
    padding: 20px;
    min-height: 40vw;
    width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;


}
#st{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
    /* font-size: 1vw; */
    font-weight: 100;
    padding:16px 20px; 
    gap: 10px;
    font-size: 1vw;
    cursor: pointer;
}
#st h2{
    font-weight: 500;
    font-size: 1.3vw;
}
.swiper {
    height: 100%;
    width: 100%;
   }
 
   .swiper-slide {
     display: flex;
     align-items: center;
     justify-content: center;
  
   }
.s{
    flex-shrink: 0;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

         /* border-radius: 5px; */
}
.s:nth-child(1){
    padding: 15px 20px;
        
}
.s .f{
    display: flex;
    gap: 10px;
    align-items: center;
}
.f .cir{
    height: 3vw;
    width: 3vw;
    
    border-radius: 50%;

    position: relative;
    overflow: hidden;
    
    
}
.f .cir img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.dots{
    display:flex ;
    gap: 5px;
    
}

.dots .d{
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: black;
}
.s:nth-child(2){
    height: 25vw;
    border-radius:20px;
    background-color:var(--white);
    width: 100%;
    
    /* padding:0 20px; */
    position: relative;
                overflow: hidden;
}
.s:nth-child(2) img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}
.s:nth-child(2) video{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
}
.s:nth-child(2) i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 10vw;
    color: rgba(255, 255, 255, 0.626);
 transform: translate(-50%,-50%);   
 transition: ease 2s;

display: none;
 z-index: 99999999999;
}

.s:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--black);
    font-size: 2vw;
    padding: 15px 20px;
  
}
.s:nth-child(3) i{
      padding: 5px;           
}
.s:nth-child(3) .s1{
    width: fit-content;
    white-space: nowrap;
    display: flex;
    position: relative;

}
.s:nth-child(3) .s1 #hf{
    position: absolute;
    color: red;
    display: none;
    transition:display ease 5s;
}
.comments{
    display: none;
    flex-direction: column;
    border-radius: 50px;
background: var(--white);

    border-radius: 50px;
    border-top-left-radius:0px ;
    padding: 20px;
  
}
#pr{
    display: flex;
    align-items: center;
    gap: 10px;
}
.pcir{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color:black;
    position: relative;
    overflow: hidden;
}
hr{
    margin-top: 2vw;
}
.s1 a{
    text-decoration: none;
    color: black;
 
}   
.s1 #fill{
    color: red;
}
#mob{
    display: none;
}
.s:nth-child(3) .s1{
    align-items: center;

}
#ms{
    background-color: var(--light);
    border: 1px solid var(--blue);
}
#ms>a{
    color: var(--blue);

}
#ms>a i{
    color: var(--blue);

}
#mob{
    display: none;
}
#mo{
    display: none;
}
.bs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw
    ;
}
.swiper2{
    display: none;
}
.s .f a{
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
}
@media (max-width:500px) {
    .swiper1{
        display: none;
    }
    .swiper2{
        display: initial;
    }
    #o1{
        display: none;
    }
    #o3{
        display: none;
    }
    #nav{
        display: none;
    }
    #cent{
        width: 100%;
        transform: translateY(0vw);
    }
    .story{
        height:20vh;
        width: 10vh;
    }
    .name h1{
        font-size:1.8vh;
    }
    .post{
       min-height: 50vh; 
    }
    .f .cir{
        height: 5vh;
        width: 5vh;
    }
    .s:nth-child(2){
        height: 65vw;
    }
    .s:nth-child(3){
        padding: 0px;
    }
    .s:nth-child(3) i{
        font-size: 3vh;
    }
    .s:nth-child(3) .s1{
        align-items: center;
    
    }
    .dis p{
        font-size: 1.5vh;
    }

    .swiper-button-next:after, .swiper-button-prev:after{
        font-size:0vw !important;
    }
    .f a{
        text-decoration: none;
        color: var(--black);
        font-size: 2.5vh;
    }
    #posts{
        gap: 0px;
        padding: 0 0 5vh 0vh;
    }
    #mob{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        padding: 1vh 2vh;
        width: 100%;
        bottom: 0%;
        border-top: .1px solid var(--black);
        z-index: 9999999999999;
    }
#mob a{
    text-decoration: none;
}   
#mob #p{
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
} 
#p img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#mob i{
    font-size: 3vh;
    color: var(--black);
}
.s:nth-child(2) {
    height: 142vw;
    width: 100%;
}
.post{
    padding: 10px;
}
.s:nth-child(1){
    padding: 10px;
}

}
